<cl-image #image [public-id]="publicId" attr.alt="{{alt}}" [class]="class" (onLoad)="load()" secure="true"
    loading="lazy" *ngIf="options">
    <cl-transformation attr.width="{{options.width}}" attr.height="{{options.height}}"
        attr.gravity="{{['fill', 'crop'].indexOf(options.crop) > -1 ? options.gravity : ''}}"
        attr.crop="{{options.crop}}" attr.quality="{{options.quality}}" fetch-format="auto" dpr="auto"
        fetch-format="auto" *ngIf="options.width && options.height">
    </cl-transformation>

    <cl-transformation attr.width="{{options.width}}"
        attr.gravity="{{['fill', 'crop'].indexOf(options.crop) > -1 ? options.gravity : ''}}"
        attr.crop="{{options.crop}}" attr.quality="{{options.quality}}" fetch-format="auto" dpr="auto"
        fetch-format="auto" *ngIf="options.width && !options.height">
    </cl-transformation>

    <cl-transformation attr.height="{{options.height}}"
        attr.gravity="{{['fill', 'crop'].indexOf(options.crop) > -1 ? options.gravity : ''}}"
        attr.crop="{{options.crop}}" attr.quality="{{options.quality}}" fetch-format="auto" dpr="auto"
        fetch-format="auto" *ngIf="!options.width && options.height">
    </cl-transformation>

    <cl-placeholder [type]="options.placeholder"></cl-placeholder>
</cl-image>