<cl-image #image [public-id]="publicId" attr.alt="{{alt}}" [class]="class" (onLoad)="load()" *ngIf="options">
    <cl-transformation attr.width="{{options.width}}" attr.height="{{options.height}}"
        attr.gravity="{{options.crop === 'fill' || options.crop === 'crop' ? options.gravity : ''}}"
        attr.crop="{{options.crop}}" quality="auto" dpr="auto" fetch-format="auto"
        *ngIf="options.width && options.height">
    </cl-transformation>

    <cl-transformation attr.width="{{options.width}}"
        attr.gravity="{{options.crop === 'fill' || options.crop === 'crop' ? options.gravity : ''}}"
        attr.crop="{{options.crop}}" quality="auto" dpr="auto" fetch-format="auto"
        *ngIf="options.width && !options.height">
    </cl-transformation>

    <cl-transformation attr.height="{{options.height}}"
        attr.gravity="{{options.crop === 'fill' || options.crop === 'crop' ? options.gravity : ''}}"
        attr.crop="{{options.crop}}" quality="auto" dpr="auto" fetch-format="auto"
        *ngIf="!options.width && options.height">
    </cl-transformation>

    <cl-placeholder [type]="options.placeholder"></cl-placeholder>
</cl-image>