<cl-image #image [public-id]="publicId" [class]="class" [loading]="options.loading" gravity="faces" dpr="auto"
    quality="auto" fetch-format="auto" attr.width="{{options.width}}" attr.height="{{options.height}}"
    attr.crop="{{options.crop}}" (onLoad)="load()" *ngIf="options.width && options.height">
    <cl-placeholder [type]="options.placeholder"></cl-placeholder>
</cl-image>

<cl-image #image [public-id]="publicId" [class]="class" [loading]="options.loading" gravity="faces" dpr="auto"
    quality="auto" fetch-format="auto" gravity="faces" attr.width="{{options.width}}" attr.crop="{{options.crop}}"
    (onLoad)="load()" *ngIf="options.width && !options.height">
    <cl-placeholder [type]="options.placeholder"></cl-placeholder>
</cl-image>

<cl-image #image [public-id]="publicId" [class]="class" [loading]="options.loading" gravity="faces" dpr="auto"
    quality="auto" fetch-format="auto" attr.height="{{options.height}}" attr.crop="{{options.crop}}" (onLoad)="load()"
    *ngIf="!options.width && options.height">
    <cl-placeholder [type]="options.placeholder"></cl-placeholder>
</cl-image>

<cl-image #image [public-id]="publicId" [class]="class" [loading]="options.loading" gravity="faces" dpr="auto"
    quality="auto" fetch-format="auto" attr.crop="{{options.crop}}" (onLoad)="load()"
    *ngIf="!options.width && !options.height">
    <cl-placeholder [type]="options.placeholder"></cl-placeholder>
</cl-image>