@import "@situlive/situ-theme/sass/global/variables/colours";

.situ-password-popup {
  .popover {
    position: absolute;
    right: -22rem;
    top: 50%;
    transform: translateY(-50%);

    background-color: white;
    border-radius: 0.5rem;
    width: 19rem;
    padding: 2rem;
    box-shadow: 0 0 0 1px $primary;
  }

  .text-success {
    color: green;
  }

  .text-danger {
    color: $warm-red;
  }

  .list-unstyled {
    margin-bottom: 0;
  }

  .mat-icon {
    margin-right: 10px;
  }
}
