<div class="popover" *ngIf="isOpen">
    <ul class="list-unstyled">
        <li class="d-flex align-items-center" [ngClass]="{'text-success': uppercase, 'text-danger': !uppercase}">
            <mat-icon>
                {{ uppercase ? 'check_circle' : 'error' }}</mat-icon> 1
            Uppercase
        </li>
        <li class="d-flex align-items-center" [ngClass]="{'text-success': lowercase, 'text-danger': !lowercase}">
            <mat-icon>
                {{ lowercase ? 'check_circle' : 'error' }}</mat-icon> 1 Lowercase
        </li>
        <li class="d-flex align-items-center" [ngClass]="{'text-success': number, 'text-danger': !number}">
            <mat-icon>
                {{ number ? 'check_circle' : 'error' }}</mat-icon> 1 Number
        </li>
    </ul>
</div>