@import "../../../../node_modules/bootstrap-scss/mixins";
@import "../../../../node_modules/@situlive/situ-theme/sass/global/variables";
@import "../../../../node_modules/@situlive/situ-theme/sass/global/mixins";
@import "../../../../node_modules/@situlive/situ-theme/sass/global/components/sections";

$header-height: 100px !default;
$logo-height: 36px !default;

.site-header {
  width: 100%;
  min-height: $header-height;
  z-index: 1000;

  &.header-transparent > nav {
    background-color: transparent !important;
  }

  .nav-main {
    @include media-breakpoint-up(lg) {
      .col-lg-12 {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .logo {
    width: 50%;
    position: relative;
    z-index: 9999;

    @include media-breakpoint-up(sm) {
      width: auto;
    }

    > svg {
      overflow: visible;
      margin: 32px 15px 32px 0;
      height: $logo-height;
      width: 100%;

      path {
        transition: 0.25s ease-in-out;
      }

      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
  }
}

.site-header:not(.header-transparent) {
  .section-white {
    .logo path {
      stroke: $primary;
      fill: $primary;
    }
  }

  .section-dark {
    .logo path {
      stroke: white;
      fill: white;
    }
  }
}
